<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>
        </title>
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/jquery.mobile/1.1.0/jquery.mobile-1.1.0.min.css" />
        <link rel="stylesheet" href="my.css" />
        <style>
            /* App custom styles */
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.mobile/1.1.0/jquery.mobile-1.1.0.min.js">
        </script>
        <script src="my.js">
        </script>
    </head>
    <body>
        <!-- Home -->
        <div data-role="page" id="page1">
            <div data-theme="a" data-role="header" data-position="fixed">
                <h2>
                    City Park Consulting
                </h2>
            </div>
            <div data-role="content" style="padding: 15px">
                <form class="form-inline" action="/sendtext" method="POST">
               
                <div data-role="fieldcontain">
                    <fieldset data-role="controlgroup" data-mini="true">
                        <label for="textinput1">
                            Request a Quote:
                        </label>
                        <input id="textinput1" placeholder="" value="(555) 555-1212" type="tel" />
                    </fieldset>
                </div>
                 <input type="submit" value="Submit" />
             </form>
                <div class="hidden-phone" data-role="collapsible-set" data-theme="b" data-content-theme="b">
                    <div data-role="collapsible" data-collapsed="false">
                        <h3>
                            About Us
                        </h3>
                        <div data-role="fieldcontain">
                            <fieldset data-role="controlgroup">
                                <label for="textarea1">
                                    Welcome to City Park
                                </label>
                                <textarea id="textarea1" placeholder="">
                                You're in the right place. We're a small software design company in Columbus, Ohio, and we will develop your next killer app. We specialize in Ruby on Rails, and our applications run on any device you want. Mac, PC, Android, iPhone - We'll do it for you.
                                </textarea>
                            </fieldset>
                        </div>
                        <img src="https://maps.googleapis.com/maps/api/staticmap?center=576 City Park 43215&amp;zoom=14&amp;size=288x200&amp;markers=576 City Park 43215&amp;sensor=false" width="288" height="200" />
                    </div>
                    <div data-role="collapsible" data-collapsed="false">
                        <h3>
                            Our Credo
                        </h3>
                        <div data-role="fieldcontain">
                            <fieldset data-role="controlgroup">
                                <label for="textarea2">
                                    Customers Come First
                                </label>
                                <textarea id="textarea2" placeholder="">
                                We want you to be happy. We can be the hands that follow your direction, or the brains that advise you as you bring your vision to life. We present work frequently and iteratively (following "agile" practices,) and our first priority is to be in sync with you.
                                </textarea>
                            </fieldset>
                        </div>
                    </div>
                    <div data-role="collapsible" data-collapsed="false">
                        <h3>
                            What We Do
                        </h3>
                        <div data-role="fieldcontain">
                            <fieldset data-role="controlgroup">
                                <label for="textarea3">
                                    We Do Rails
                                </label>
                                <textarea id="textarea3" placeholder="">
                                City Park specializes in Ruby on Rails. This means we can help you:  Integrate with social media technologies like Twitter Leverage database power to make blogs, online stores, news feeds, and store any important data you may get from web-spidering Set up ranking systems, product recommendations based on past behavior, etc. Give you an interface to easily manage your site without compromising when it comes to power or ease of use
                                </textarea>
                            </fieldset>
                        </div>
                    </div>
                    <div data-role="collapsible" data-collapsed="false">
                        <h3>
                            Hosting Solutions
                        </h3>
                        <div data-role="fieldcontain">
                            <fieldset data-role="controlgroup">
                                <label for="textarea4">
                                    Hosting and Deployment
                                </label>
                                <textarea id="textarea4" placeholder="">
                                We deploy cloud hosted apps quickly and efficiently, and offer hosting packages along with our development services. Hosting services are free to start, and resources like storage, processing speed, and software features can be purchased on an as-needed basis as your app scales and needs more power.
                                </textarea>
                            </fieldset>
                        </div>
                        <div data-theme="a" data-role="footer" data-position="fixed">
                            <h3>
                                Contact: (303) 547-6117
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            //App custom javascript
        </script>
    </body>
</html>