<h1>Welcome To City Park</h1>
<p>You're in the right place. We're a small software design company in Columbus, Ohio, and we will develop your next killer app. We specialize in Ruby on Rails, and our applications run on any device you want. Mac, PC, Android, iPhone - We'll do it for you.</p>
<p><a style="visibility:hidden;" class="btn btn-inverse btn-large" href="detail.html">SEND A QUICK INQUIRY »</a></p>