<h1>Customers Come First</h1>
<p>We want you to be happy. We can be the hands that follow your direction, or the brains that advise you as you bring your vision to life. We present work frequently and iteratively (following agile practices,) and our first priority is to be in sync with you.</p>
<p><a style="visibility:hidden;" class="btn btn-inverse btn-large" href="detail.html">TELL US WHAT YOU NEED »</a></p>