<h1>Our Hosting Solutions</h1>
<p>We deploy cloud hosted apps quickly and efficiently, and offer hosting packages along with our development services. Hosting services are free to start, and resources like storage, processing speed, and software features can be purchased on an as-needed basis as your app scales and needs more power.</p>
<p><a style="visibility:hidden;" class="btn btn-inverse btn-large" href="detail.html">VIEW PACKAGES »</a></p>