<h1>Web and Mobile Applications</h1>
<p>City Park can help you:
	<ul>
		<li>Integrate with social media technologies like Twitter</li>
		<li>Leverage database power to make blogs, online stores, news feeds, and store any important data you may get from web-spidering</li> 
		<li>Set up ranking systems, product recommendations based on past behavior, etc.</li>
		<li>Give you an interface to easily manage your site without compromising when it comes to power or ease of use</li>
		<li>And more</li>
	</ul>
</p>
<p><a style="visibility:hidden;" class="btn btn-inverse btn-large" href="detail.html">GET INFO  »</a></p>