
	</header>

	<div class="body">
		<div class="container">
			<div class="row" id="carousel">
				<div class="span12">
					<div id="slidedeck_frame" class="skin-slidedeck">
						<dl class="slidedeck" style="height: 380px">
								<dt>About Us</dt>
								<dd>
									<div class="hero-unit">
										<div class="row">
											<div class="span4 pull-left wrap-image">
												<img src="demo_images/moto.png" alt="">
											</div>
											<div class="span6 pull-right wrap-intro">
												<h1>Welcome To City Park</h1>
												<p>You're in the right place. We're a small software design company in Columbus, Ohio, and we will develop your next killer app. We specialize in Ruby on Rails, and our applications run on any device you want. Mac, PC, Android, iPhone -- We'll do it for you.</p>
												<p><a style="visibility:hidden;" class="btn btn-inverse btn-large" href="detail.html">SEND A QUICK INQUIRY »</a></p>
											</div>
										</div>
									</div>
								</dd>
								<dt>Our Credo</dt>
								<dd>
									<div class="hero-unit">
										<div class="row">
											<div class="span4 pull-left wrap-image">
												<img src="demo_images/bb.png" alt="">
											</div>
											<div class="span6 pull-right wrap-intro">
												<h1>We Put Our Customers First</h1>
												<p>We want you to be happy. We can be the hands that follow your direction, or the brains that advise you as you bring your vision to life. We present work frequently and iteratively (following "agile" practices,) and our first priority is to be in sync with you.</p>
												<p><a style="visibility:hidden;" class="btn btn-inverse btn-large" href="detail.html">TELL US WHAT YOU NEED »</a></p>
											</div>
										</div>
									</div>
								</dd>
								<dt>Our Specialization</dt>
								<dd>
									<div class="hero-unit">
										<div class="row">
											<div class="span4 pull-left wrap-image">
												<img src="demo_images/samsung.png" alt="">
											</div>
											<div class="span6 pull-right wrap-intro">
												<h1>We Do Rails</h1>
												<p>City Park specializes in Ruby on Rails. This means we can help you:
													<ul>
														<li>Integrate with social media technologies like Twitter</li>
														<li>Leverage database power to make blogs, online stores, news feeds, and store any important data you may get from web-spidering</li> 
														<li>Set up ranking systems, product recommendations based on past behavior, etc.</li>
														<li>Give you an interface to easily manage your site without compromising when it comes to power or ease of use</li>
													</ul>
												</p>
												<p><a style="visibility:hidden;" class="btn btn-inverse btn-large" href="detail.html">GET INFO  »</a></p>
											</div>
										</div>
									</div>
								</dd>
								<dt>Hosting and Deployment</dt>
								<dd>
									<div class="hero-unit">
										<div class="row">
											<div class="span4 pull-left wrap-image">
												<img src="demo_images/LG.png" alt="">
											</div>
											<div class="span6 pull-right wrap-intro">
												<h1>Our Hosting Solutions</h1>
												<p>We deploy cloud hosted apps quickly and efficiently, and offer hosting packages along with our development services. Hosting services are free to start, and resources like storage, processing speed, and software features can be purchased on an as-needed basis as your app scales and needs more power.</p>
												<p><a style="visibility:hidden;" class="btn btn-inverse btn-large" href="detail.html">VIEW PACKAGES »</a></p>
											</div>
										</div>
									</div>
								</dd>
						</dl>
					</div>
				</div>
			</div>
			
			
			
		</div>
    </div>
	<!-- /container -->


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

	<!--Slide Deck-->
	<!-- Styles for the skin that only load for Internet Explorer -->
	<!--[if lte IE 8]>
	<link rel="stylesheet" type="text/css" href="js/slidedeck/slidedeck.skin.ie.css" media="screen,handheld" />
	<![endif]-->
	<!-- Include the SlideDeck jQuery script. -->
	<script type="text/javascript">
	$(function(){
		$('.slidedeck').slidedeck({
			autoPlay: false,
			cycle: true,
			autoPlayInterval: 0
		});
	});
	</script>
	<!--End Slide Deck-->

	<script type="text/javascript">
            $(function() {
				/**
				* Initial Carousel
				**/
				$('.carousel').carousel({
					interval: 4000
				});
            });
	</script>