
	</header>

	<div class="body">
		<div class="container">
			<div class="row" id="carousel">
				<div class="span12">
					<div id="slidedeck_frame" class="skin-slidedeck">
						<dl class="slidedeck" style="height: 380px">
								<dt>About Us</dt>
								<dd>
									<div class="hero-unit">
										<div class="row">
											<div class="span4 pull-left wrap-image">
												<img src="demo_images/moto.png" alt="">
											</div>
											<div class="span6 pull-right wrap-intro">
												<h1>Hi</h1>
												<p>You're in the right place. We're City Park Consulting in Columbus, Ohio, and we will develop a killer app for you. We specialize in Ruby on Rails, and our applications run on any device you want. Mac, PC, Android, iPhone -- We'll do it for you.</p>
												<p><a class="btn btn-inverse btn-large" href="detail.html">SEND A QUICK INQUIRY »</a></p>
											</div>
										</div>
									</div>
								</dd>
								<dt>Our Credo</dt>
								<dd>
									<div class="hero-unit">
										<div class="row">
											<div class="span4 pull-left wrap-image">
												<img src="demo_images/bb.png" alt="">
											</div>
											<div class="span6 pull-right wrap-intro">
												<h1>Customers First</h1>
												<p>We want you to be happy. We can be the hands that follow your direction, or the brains that advise you as you bring your vision to life. We present work frequently and iteratively (following "agile" practices in tech parlance.) Our first priority is to be in sync with our clients and deliver services and software that meet client needs.</p>
												<p><a class="btn btn-inverse btn-large" href="detail.html">TELL US WHAT YOU NEED »</a></p>
											</div>
										</div>
									</div>
								</dd>
								<dt>Our Specialization</dt>
								<dd>
									<div class="hero-unit">
										<div class="row">
											<div class="span4 pull-left wrap-image">
												<img src="demo_images/samsung.png" alt="">
											</div>
											<div class="span6 pull-right wrap-intro">
												<h1>We're Your Ace In the Hole</h1>
												<p>City Park specializes in Ruby on Rails. What can we do with Rails? Among many many other things our apps can:
													<ul>
														<li>Integrate with popular social media technologies like Facebook and Twitter</li>
														<li>Leverage database power to make blogs, online stores, news feeds, and store any important data you may get from, say . . . data-mining or web-spidering.</li> 
														<li>Set up ranking systems, product recommendations based on past behavior, implement incentives programs</li>
														<li>Give you an interface to easily manage your site without compromising when it comes to power or ease of use.</li>
													</ul>
												</p>
												<p><a class="btn btn-inverse btn-large" href="detail.html">REQUEST A QUOTE »</a></p>
											</div>
										</div>
									</div>
								</dd>
								<dt>Hosting and Deployment</dt>
								<dd>
									<div class="hero-unit">
										<div class="row">
											<div class="span4 pull-left wrap-image">
												<img src="demo_images/LG.png" alt="">
											</div>
											<div class="span6 pull-right wrap-intro">
												<h1>Hosting Solutions</h1>
												<p>City Park offers hosting packages along with services. Services are free to start, and additional resources can be purchased on an as-needed basis as your app scales and needs more power.</p>
												<p><a class="btn btn-inverse btn-large" href="detail.html">VIEW PACKAGES »</a></p>
											</div>
										</div>
									</div>
								</dd>
						</dl>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="span12">
				    <blockquote>
						<h3>News <small>@dbwest: <%= Twitter::user_timeline("dbwest").first.text %></small></h3>
					</blockquote>
				</div>
			</div>
			<!-- Best Seller -->
			<div class="row">
				<div class="span12">
					<ul class="breadcrumb entry-title">
						<li class="active">Best Seller</li>
					</ul>
					<div id="myBestSeller" class="carousel slide">
						<!-- Carousel items -->
						<div class="carousel-inner">
							<div class="active item">
								<ul class="thumbnails">
									<li class="span3">
									  <div class="thumbnail">
										<img alt="" src="http://placehold.it/260x180">
										<div class="caption">
										  <h5>Thumbnail label</h5>
										  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
										  <p><a class="btn btn-primary" href="detail.html">Action</a> <a class="btn pull-right" href="detail.html">Detail</a></p>
										</div>
									  </div>
									</li>
									<li class="span3">
									  <div class="thumbnail">
										<img alt="" src="http://placehold.it/260x180">
										<div class="caption">
										  <h5>Thumbnail label</h5>
										  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
										  <p><a class="btn btn-primary" href="detail.html">Action</a> <a class="btn pull-right" href="detail.html">Detail</a></p>
										</div>
									  </div>
									</li>
									<li class="span3">
									  <div class="thumbnail">
										<img alt="" src="http://placehold.it/260x180">
										<div class="caption">
										  <h5>Thumbnail label</h5>
										  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
										  <p><a class="btn btn-primary" href="detail.html">Action</a> <a class="btn pull-right" href="detail.html">Detail</a></p>
										</div>
									  </div>
									</li>
									<li class="span3">
									  <div class="thumbnail">
										<img alt="" src="http://placehold.it/260x180">
										<div class="caption">
										  <h5>Thumbnail label</h5>
										  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
										  <p><a class="btn btn-primary" href="detail.html">Action</a> <a class="btn pull-right" href="detail.html">Detail</a></p>
										</div>
									  </div>
									</li>
								</ul>
							</div>
							<div class="item">
								<ul class="thumbnails">
									<li class="span3">
									  <div class="thumbnail">
										<img alt="" src="http://placehold.it/260x180">
										<div class="caption">
										  <h5>Thumbnail label</h5>
										  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
										  <p><a class="btn btn-primary" href="detail.html">Action</a> <a class="btn pull-right" href="detail.html">Detail</a></p>
										</div>
									  </div>
									</li>
									<li class="span3">
									  <div class="thumbnail">
										<img alt="" src="http://placehold.it/260x180">
										<div class="caption">
										  <h5>Thumbnail label</h5>
										  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
										  <p><a class="btn btn-primary" href="detail.html">Action</a> <a class="btn pull-right" href="detail.html">Detail</a></p>
										</div>
									  </div>
									</li>
									<li class="span3">
									  <div class="thumbnail">
										<img alt="" src="http://placehold.it/260x180">
										<div class="caption">
										  <h5>Thumbnail label</h5>
										  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
										  <p><a class="btn btn-primary" href="detail.html">Action</a> <a class="btn pull-right" href="detail.html">Detail</a></p>
										</div>
									  </div>
									</li>
									<li class="span3">
									  <div class="thumbnail">
										<img alt="" src="http://placehold.it/260x180">
										<div class="caption">
										  <h5>Thumbnail label</h5>
										  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
										  <p><a class="btn btn-primary" href="detail.html">Action</a> <a class="btn pull-right" href="detail.html">Detail</a></p>
										</div>
									  </div>
									</li>
								</ul>
							</div>
						</div>
						<!-- Carousel nav -->
						<a class="carousel-control left" href="#myBestSeller" data-slide="prev">&lsaquo;</a>
						<a class="carousel-control right" href="#myBestSeller" data-slide="next">&rsaquo;</a>
					</div>
				</div>
			</div>
			<!-- Latest Products -->
			<div class="row">
				<div class="span12">
					<ul class="breadcrumb entry-title">
						<li class="active">Latest Products</li>
					</ul>
					<div id="myLatestProducts" class="carousel slide">
						<!-- Carousel items -->
						<div class="carousel-inner">
							<div class="active item">
								<ul class="thumbnails">
									<li class="span3">
									  <div class="thumbnail">
										<img alt="" src="http://placehold.it/260x180">
										<div class="caption">
										  <h5>Thumbnail label</h5>
										  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
										  <p><a class="btn btn-primary" href="detail.html">Action</a> <a class="btn pull-right" href="detail.html">Detail</a></p>
										</div>
									  </div>
									</li>
									<li class="span3">
									  <div class="thumbnail">
										<img alt="" src="http://placehold.it/260x180">
										<div class="caption">
										  <h5>Thumbnail label</h5>
										  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
										  <p><a class="btn btn-primary" href="detail.html">Action</a> <a class="btn pull-right" href="detail.html">Detail</a></p>
										</div>
									  </div>
									</li>
									<li class="span3">
									  <div class="thumbnail">
										<img alt="" src="http://placehold.it/260x180">
										<div class="caption">
										  <h5>Thumbnail label</h5>
										  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
										  <p><a class="btn btn-primary" href="detail.html">Action</a> <a class="btn pull-right" href="detail.html">Detail</a></p>
										</div>
									  </div>
									</li>
									<li class="span3">
									  <div class="thumbnail">
										<img alt="" src="http://placehold.it/260x180">
										<div class="caption">
										  <h5>Thumbnail label</h5>
										  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
										  <p><a class="btn btn-primary" href="detail.html">Action</a> <a class="btn pull-right" href="detail.html">Detail</a></p>
										</div>
									  </div>
									</li>
								</ul>
							</div>
							<div class="item">
								<ul class="thumbnails">
									<li class="span3">
									  <div class="thumbnail">
										<img alt="" src="http://placehold.it/260x180">
										<div class="caption">
										  <h5>Thumbnail label</h5>
										  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
										  <p><a class="btn btn-primary" href="detail.html">Action</a> <a class="btn pull-right" href="detail.html">Detail</a></p>
										</div>
									  </div>
									</li>
									<li class="span3">
									  <div class="thumbnail">
										<img alt="" src="http://placehold.it/260x180">
										<div class="caption">
										  <h5>Thumbnail label</h5>
										  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
										  <p><a class="btn btn-primary" href="detail.html">Action</a> <a class="btn pull-right" href="detail.html">Detail</a></p>
										</div>
									  </div>
									</li>
									<li class="span3">
									  <div class="thumbnail">
										<img alt="" src="http://placehold.it/260x180">
										<div class="caption">
										  <h5>Thumbnail label</h5>
										  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
										  <p><a class="btn btn-primary" href="detail.html">Action</a> <a class="btn pull-right" href="detail.html">Detail</a></p>
										</div>
									  </div>
									</li>
									<li class="span3">
									  <div class="thumbnail">
										<img alt="" src="http://placehold.it/260x180">
										<div class="caption">
										  <h5>Thumbnail label</h5>
										  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
										  <p><a class="btn btn-primary" href="detail.html">Action</a> <a class="btn pull-right" href="detail.html">Detail</a></p>
										</div>
									  </div>
									</li>
								</ul>
							</div>
						</div>
						<!-- Carousel nav -->
						<a class="carousel-control left" href="#myLatestProducts" data-slide="prev">&lsaquo;</a>
						<a class="carousel-control right" href="#myLatestProducts" data-slide="next">&rsaquo;</a>
					</div>
				</div>
			</div>
		</div>
    </div>
	<!-- /container -->


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

	<!--Slide Deck-->
	<!-- Styles for the skin that only load for Internet Explorer -->
	<!--[if lte IE 8]>
	<link rel="stylesheet" type="text/css" href="js/slidedeck/slidedeck.skin.ie.css" media="screen,handheld" />
	<![endif]-->
	<!-- Include the SlideDeck jQuery script. -->
	<script type="text/javascript">
	$(function(){
		$('.slidedeck').slidedeck({
			autoPlay: false,
			cycle: true,
			autoPlayInterval: 0
		});
	});
	</script>
	<!--End Slide Deck-->

	<script type="text/javascript">
            $(function() {
				/**
				* Initial Carousel
				**/
				$('.carousel').carousel({
					interval: 4000
				});
            });
	</script>