<script src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript" src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" />
  <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" />

  <style>img{ height: 100px; float: left; }</style>

  <style type="text/css">
    img {
      height: auto;
      max-width: 150px;
    }
  </style>

  <script>
    function query(){
      $('#images').empty();
      $.getJSON(
      "https://www.googleapis.com/shopping/search/v1/public/products?callback=?",
      {
          key: "AIzaSyBSEwl6Ch4Wm8OIhbT6y9rWjVeAwwU-WiA", 
          country: "US", 
          q: document.productInfo.isbn.value, 
          alt: "json", 
          rankBy: "price:" + document.productInfo.sort.value
          // facets.enabled: true
          // price: ([$( "#slider-range" ).slider( "values", 0 ),$( "#slider-range" ).slider( "values", 0 )])
      },
      function(data) {
          $.each(data.items, function(i, item){
              
              if (item.product.images.length > 0) // sanity check
              {
                  link = item.product.images[0]['link']; // cache value
                  var img = $("<img/>").attr("src", link);
                  picture = $("<a/>").attr({href: link, title: "Courtesy of Flicker"}).append(img);
                  $("<td/>").attr({class: "span2"}).append(picture).appendTo("tr:last");
                  $('<a><div class="btn delete">x</div></a>').appendTo("tr:last");
                  $('.delete').click(function(e) {
  e.preventDefault(); // don't follow the link
  $(this).closest('tr').remove(); // credits goes to MrKurt for use of closest()
});
              }
              else
              {
                $("<td/>").attr({class: "span2"}).appendTo("tr:last");
              }
              if (item.product.inventories.length > 0)
              {
                linkTo = item.product.link;
                price = item.product.inventories[0]['price'];
                thing = item.product.title;
                stock = item.product.inventories[0]['availability'];
                if (item.product.author['name'].length > 0) {
                  vendor = item.product.author['name'];
                }
                else {
                  vendor = "Vendor not found";
                }
                if (item.product.inventories[0]['currency'].length > 0) {
                  currency = item.product.inventories[0]['currency'];
                }
                else {
                  currency = "Currency not found";
                }
                $("<td/>").attr({class: "span2"}).append(thing + " " + "Currency\/Price: " + currency + "\/" + price + "\n" + vendor + " " + stock + '<a href="' + linkTo + '"><div class="btn">Link</div></a>').appendTo("tr:last");
              }
              else
              {
                $("<td/>").attr({class: "span2"}).appendTo("tr:last");
              }
            $("<tr/>").appendTo("table");
          });
      }
    )
    
    };
  </script>

  <script>
    $(function() {
        $( "#slider-range" ).slider({
            range: true,
            min: 0,
            max: 500,
            values: [ 75, 300 ],
            slide: function( event, ui ) {
                $( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
            }
        });
        $( "#amount" ).val( "$" + $( "#slider-range" ).slider( "values", 0 ) +
            " - $" + $( "#slider-range" ).slider( "values", 1 ) );
    });
    </script>

  <form name="productInfo">
    <label>Product Search</label>
    <input type="text" name="isbn" id="isbn"/>
    <label>Price sort</label>
    <select name="sort">
            <option value="ascending" selected>lo to hi</option>
            <option value="descending">hi to lo</option>
        </select>
    <br />
    <p>
    <label for="amount">Price range:</label>
    <input type="text" id="amount" style="border:0; color:#f6931f; font-weight:bold;" />
</p>

<p>
    <label for="amount">Price range:</label>
    <input type="text" id="amount" style="border: 0; color: #f6931f; font-weight: bold;" />
</p>
 
<div id="slider-range"></div>
 
    <input class="btn" type="button" value="Search" onclick="query()" >
  </form>

  <table class="table table-striped table-bordered">
    <tr>
      
    </tr>
  </table>


